<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>研修７日目の落合</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
<link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">
<link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-touch-icon-114x114.png}">
    
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/prettyPhoto.css}">
<link th:href="@{/http://fonts.googleapis.com/css?family=Lato:400,700,900,300}" rel="stylesheet" type="text/css">
<link th:href="@{/http://fonts.googleapis.com/css?family=Open+Sans:400,700s,800,600,300}" rel="stylesheet" type="text/css">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1>Hello, I'm <span class="name">Yoshitaka Ochiai</span></h1>
          <p>System Development Division</p>
          <a href="#about" class="btn btn-default btn-lg page-scroll">詳細</a> </div>
      </div>
    </div>
  </div>
</header>
<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
        <a class="navbar-brand page-scroll" href="#page-top">Yoshitaka Ochiai</a> </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="#about">About</a> </li>
          <li> <a class="page-scroll" href="#skills">Skills</a> </li>
          <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li>
          <li> <a class="page-scroll" href="#resume">Resume</a> </li>
          <li> <a class="page-scroll" href="#contact">Contact</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img th:src="@{/img/about.jpg}" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
          <p>大手前大学現代社会学部出身</p>
          <p>落合慶高</p>
          <p>出身地：大阪</p>
          <br><br>
      </div>
    </div>
  </div>
</div>
<!-- Skills Section -->
<div id="skills" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Skills</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="60"> <span class="percent">60</span> </span>
        <h4>HTML</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="50"> <span class="percent">50</span> </span>
        <h4>CSS</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="70"> <span class="percent">70</span> </span>
        <h4>javascript</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="86"> <span class="percent">86</span> </span>
        <h4>WordPress</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="2"> <span class="percent">2</span> </span>
        <h4>Photoshop</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="0"> <span class="percent">0</span> </span>
        <h4>Illustrator</h4>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Portfolio</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".web">Web Design</a></li>
            <li><a href="#" data-filter=".app">Classroom lecture</a></li>
<!--            <li><a href="#" data-filter=".branding">Branding</a></li>     -->   
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a th:href="@{/img/portfolio/01-large.jpg}" title="Project description" rel="prettyPhoto">
              <div class="hover-text">
                <h4>ソースコード</h4>
                <small>Web Design</small> </div>
              <img th:src="@{/img/portfolio/01-small.jpg}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a th:href="@{/img/portfolio/02-large.jpg}" title="Project description" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Classroom lecture</h4>
                <small>Classroom lecture</small> </div>
              <img th:src="@{/img/portfolio/02-small.jpg}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a th:href="@{/img/portfolio/03-large.jpg}" title="Project description" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Web Design</h4>
                <small>Web Design</small> </div>
              <img th:src="@{/img/portfolio/03-small.jpg}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a th:href="@{/img/portfolio/04-large.jpg}" title="Project description" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Java Script</h4>
                <small>Web Design</small> </div>
              <img th:src="@{/img/portfolio/04-small.jpg}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a th:href="@{/img/portfolio/05-large.jpg}" title="Project description" rel="prettyPhoto">
              <div class="hover-text">
                <h4>手</h4>
                <small>Classroom lecture</small> </div>
              <img th:src="@{/img/portfolio/05-small.jpg}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a th:href="@{/img/portfolio/06-large.jpg}" title="Project description" rel="prettyPhoto">
              <div class="hover-text">
                <h4>座学</h4>
                <small>Classroom lecture</small> </div>
              <img th:src="@{/img/portfolio/06-small.jpg}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a th:href="@{/img/portfolio/07-large.jpg}" title="Project description" rel="prettyPhoto">
              <div class="hover-text">
                <h4>初心者</h4>
                <small>Classroom lecture</small> </div>
              <img th:src="@{/img/portfolio/07-small.jpg}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a th:href="@{/img/portfolio/08-large.jpg}" title="Project description" rel="prettyPhoto">
              <div class="hover-text">
                <h4>パソコン</h4>
                <small>Web Design</small> </div>
              <img th:src="@{/img/portfolio/08-small.jpg}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Achievements Section -->
<div id="achievements" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Some Stats</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="200ms">
        <div class="achievement-box"> <span class="count">11</span>
          <h4>研修人数</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="400ms">
        <div class="achievement-box"> <span class="count">56</span>
          <h4>作業時間</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="600ms">
        <div class="achievement-box"> <span class="count">28,800</span>
          <h4>1日の勤務時間/s</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="800ms">
        <div class="achievement-box"> <span class="count">7</span>
          <h4>研修日数</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Resume Section -->
<div id="resume" class="text-center">
  <!--<div class="container">
    <div class="section-title center">
      <h2>Experience</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <h4>Feb 2013 <br>
                - <br>
                Present </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Creative Agency</h4>
                <h4 class="subheading">UX Developer</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Nov 2011 <br>
                - <br>
                Jan 2013 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Creative Agency</h4>
                <h4 class="subheading">Front-end Developer</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>Dec 2009 <br>
                - <br>
                May 2011 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Creative Agency</h4>
                <h4 class="subheading">UX Designer</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="section-title center">
      <h2>Resume</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          
          <!-- Education Section-->
          
          <li>
            <div class="timeline-image">
              <h4>2013 <br>
                - <br>
                2016 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>SCHOOL NAME</h4>
                <h4 class="subheading">大阪青凌高等学校</h4>
              </div>
              <div class="timeline-body">
                <p>国際社会に生きる理想の人間像をめざし、個性の伸長に配慮しながら、知・徳・体に調和のとれた「平和」を愛する人を、新しい展望と理想をもって育成する。主体的な学校生活を通して心身の発達を促し、自律性と判断力を身につけた人間を目指す</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>2016 <br>
                - <br>
                2020 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>SCHOOL NAME</h4>
                <h4 class="subheading">大手前大学</h4>
              </div>
              <div class="timeline-body">
                <p>建学の精神である“STUDY FOR LIFE （生涯にわたる、人生のための学び）に基づき、豊かな教養と専門的学術、旺盛な自己開発精神、優れた国際感覚及び問題解決能力を備えた人材を育成し、地域の教育・研究および生涯学習の中心として、地域社会・国際社会に貢献する</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>2020 <br>
                - <br>
                 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>COMPANY NAME</h4>
                <h4 class="subheading">株式会社Miraie</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">ES事業や受託開発などを中心にノウハウを蓄積しながら、関連事業へとビジネスの裾野を広げています。 例えば、SES事業を行っていく中で、シニアエンジニア向け案件情報紹介サイト「SEES」や、SES業界に特化したオンライン請求書発行システム「Zimper」などを開発し、サービスの運用を行ったり、 動画メディアサイト「Moving Japan」を運営するノウハウから、WEB制作と掛け合わせた動画制作やWEBサイトの多言語化を行うなど、ビジネス領域の幅を広げています。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Contact</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
        <p>150-0002 <br>東京都渋谷区渋谷１丁目-１２-２<br>クロスオフィス渋谷 6階</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>ochiai@miraie-company.jp</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p> +1 123 456 1234</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Leave me a message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="名前" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="メッセージ" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">送信</button>
      </form>
      <div class="social">
        <ul>
          <li><a th:href="@{/https://www.facebook.com/miraie.saiyo/}"><i class="fa fa-facebook"></i></a></li>
          <li><a th:href="@{/https://www.twitter.com/miraie.saiyo/}"><i class="fa fa-twitter"></i></a></li>
          <li><a th:href="@{/https://dribbble.com/}"><i class="fa fa-dribbble"></i></a></li>
          <li><a th:href="@{/https://github.co.jp/}"><i class="fa fa-github"></i></a></li>
          <li><a th:href="@{/https://www.instagram.com/?hl=ja}"><i class="fa fa-instagram"></i></a></li>
          <li><a th:href="@{/https://jp.linkedin.com/}"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Miraie &copy; 2020 Yoshitaka Ochiai. Learning <a th:href="@{/http://prolabo.jp/}" rel="nofollow">プロラボ</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery.1.11.1.js}"></script> 
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script> 
<script type="text/javascript" th:src="@{/js/SmoothScroll.js}"></script> 
<script type="text/javascript" th:src="@{/js/easypiechart.js}"></script> 
<script type="text/javascript" th:src="@{/js/jquery.prettyPhoto.js}"></script> 
<script type="text/javascript" th:src="@{/js/jquery.isotope.js}"></script> 
<script type="text/javascript" th:src="@{/js/jquery.counterup.js}"></script> 
<script type="text/javascript" th:src="@{/js/waypoints.js}"></script> 
<script type="text/javascript" th:src="@{/js/jqBootstrapValidation.js}"></script> 
<script type="text/javascript" th:src="@{/js/contact_me.js}"></script> 
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>